.victory-message {
  animation: victory-fade-in 1s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
  flex: 1;
}

.victory-message h2 {
  font-size: 48px;
  margin-bottom: 24px;
}

.victory-message .fade-in {
  opacity: 0;
  animation: victory-fade-in 2s ease-out forwards;
  animation-delay: var(--animation-delay, 1.5s);
}

.victory-nav {
  display: flex;
  gap: 24px;
  flex-direction: row;
  margin-top: 24px;
}

.victory-nav-choice {
  display: block;
  color: transparent;
  width: 96px;
  height: 96px;
  background-image: url(./images/destiny-choice.png);
  background-size: 192px 96px;
  animation:
    victory-float 3s ease-in-out infinite,
    victory-tremble 0.15s linear infinite;
  animation-play-state: running, paused;
  filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.4));
}

.victory-nav-choice-heal {
  background-position: left;
}

.victory-nav-choice-devil {
  background-position: right;
  animation-delay: -1.5s, 0s;
}

.victory-nav-choice:hover {
  animation-play-state: paused, running;
  cursor: pointer;
}

@keyframes victory-tremble {
  0% {
    translate: -1px -0.5px;
  }
  25% {
    translate: 1px 0.5px;
  }
  50% {
    translate: -1px 0.5px;
  }
  75% {
    translate: 1px -0.5px;
  }
  100% {
    translate: -1px -0.5px;
  }
}

@keyframes victory-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes victory-float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
