.victory-message {
  animation: victory-fade-in 1s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
  flex: 1;
}

.victory-message h2 {
  font-size: 48px;
  margin-bottom: 24px;
}

.victory-message .fade-in {
  opacity: 0;
  animation: victory-fade-in 2s ease-out forwards;
  animation-delay: var(--animation-delay, 1.5s);
}

.victory-nav {
  display: flex;
  gap: 24px;
  flex-direction: row;
  margin-top: 24px;
}

.victory-nav-choice {
  appearance: none;
  display: block;
  color: transparent;
  width: 96px;
  height: 96px;
  background-image: url(./images/destiny-choice.png);
  background-size: 192px 96px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  user-select: none;
}

.victory-nav-choice-heal {
  background-position: left;
}

.victory-nav-choice-devil {
  background-position: right;
  animation-delay: -1.5s, 0s;
}

@keyframes victory-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
