.scene {
  width: 100%;
  height: 279px;
  background: #111;
  border: 0 solid transparent;
  border-image-source: url(./images/scene-borders.png);
  border-image-slice: 28 fill;
  border-image-width: 28px;
  border-image-repeat: round;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.level-indicator {
  border: 18px solid transparent;
  border-image-source: url(./images/machine-borders.png);
  border-image-slice: 32 fill;
  border-image-width: 32px;
  border-image-repeat: round;
  position: fixed;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  color: #fff;
}
