.machine-hearts {
  width: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.machine-heart {
  --position-y: top;
  width: 45px;
  height: 45px;
  background-image: url(./images/hearts.png);
  background-repeat: no-repeat;
  background-position: var(--position-x) var(--position-y);
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.machine-heart.disabled {
  pointer-events: none;
}

.machine-heart.inactive {
  --position-y: bottom;
}

.machine-heart:hover.inactive,
.machine-heart:focus-visible.inactive {
  --position-y: top;
}

.machine-heart:hover.active,
.machine-heart:focus-visible.active {
  filter: brightness(1.5);
}

.machine-heart-1 {
  --position-x: left;
}

.machine-heart-2 {
  --position-x: center;
}

.machine-heart-3 {
  --position-x: right;
}
