.tooltip-wrapper {
  position: relative;
  display: inline-flex;
  cursor: help;
}

.tooltip-label {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, calc(-100% - 6px));
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 4px 8px;
}
