.blackout {
  position: absolute;
  z-index: 10;
  inset: 0;
  background-color: #111;
  animation: blackout-fade-in 1s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blackout h2 {
  color: #fff;
  text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000;
  font-size: 48px;
  margin-bottom: 24px;
}

@keyframes blackout-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
